[settings]

admin_password = PASSWORD

mysql_password = PASSWORD

email_sender = SENDER@erdenkinder.eu
email_username = USER@erdenkinder.eu
email_password = PASSWORD

t-online_user = USER
t-online_password = PASSWORD
